#!/bin/bash -e

# pose les questions de base pour la  conf 

# on charge le fichier /etc/sambaedu.conf si il existe

. /usr/share/debconf/confmodule
db_capb backup 
[ ! -e /usr/share/sambaedu/includes/config.inc.sh ] && exit 0
. /usr/share/sambaedu/includes/config.inc.sh
. /usr/share/sambaedu/includes/utils.inc.sh

# modele de conf par défaut
CONFIGFILE=/etc/sambaedu/sambaedu.conf.d/clients.conf
if [ ! -e /etc/sambaedu/sambaedu.conf.d/clients.conf ]; then
	cp -a /usr/share/doc/sambaedu-client-windows/clients.conf.example $CONFIGFILE
fi
get_config
my_network
priority="medium"

# comptes adminse administrateur local des clients.

if [ -n "$config_adminse_name" ]; then
   db_set sambaedu/adminse_name "$config_adminse_name" || true
else
		priority="high"
fi
if [ -n "$config_adminse_passwd" ]; then
   db_set sambaedu/adminse_passwd "$config_adminse_passwd" || true
else
		priority="high"
fi

db_input $priority sambaedu/adminse_name || true
db_input $priority sambaedu/adminse_passwd || true

db_go || true

